<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <div class="numeral">"Insert vague quote here." - Attribution</div>
  <br>
  <p>p1</p>
  <p>p2</p>
  <p>p3</p>
  <p>p4</p>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous</ion-button>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/']">Next Page</ion-button>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Page 2</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
