<ion-header>
  <ion-toolbar>
    <ion-title>Life is Awesome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-toolbar class="billy">
    <img src="https://www.fillmurray.com/85/85" alt="">
  </ion-toolbar>
  <br>
  <div class="numeral">Chapter 2</div>
  <br>
  <p>Quisque id dignissim est. Sed tincidunt semper felis, vitae ullamcorper augue tincidunt id. Donec laoreet condimentum viverra. Nam gravida, libero id volutpat porta, velit nisl condimentum quam, at aliquet mauris lacus eget ipsum. Aliquam rutrum sed nisl quis pretium. Aenean eu sodales nisl. Donec venenatis justo a purus luctus, a convallis odio vehicula. Etiam pretium, elit et blandit ullamcorper, risus massa aliquet nisl, sed imperdiet lacus augue sit amet dui. Maecenas maximus risus felis.</p>

  <p>Aliquam tincidunt, ex in malesuada convallis, sem quam iaculis eros, id sagittis nisl nisl at orci. Praesent eu purus nisi. Phasellus nec pulvinar nulla, at eleifend sapien. Duis dapibus ullamcorper rutrum. Phasellus laoreet dapibus mi, vitae consequat ligula sagittis in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ultricies sem non eleifend sagittis. Suspendisse fermentum at sem quis rutrum. Proin imperdiet pellentesque auctor. In hac habitasse platea dictumst. Donec tempor fringilla molestie. Quisque facilisis diam in purus viverra pretium.</p>
    
  <p>In hac habitasse platea dictumst. Nunc eu purus porta, posuere mi at, feugiat augue. Pellentesque non sem augue. Fusce facilisis ut elit nec blandit. Donec non aliquet justo, at ornare quam. Donec ultricies enim vitae ultrices porttitor. Fusce ut tellus at purus sodales ornare eget vitae dui. Phasellus varius quis risus in lacinia.</p>

  <div class="button">
    <ion-button color="success" [routerDirection]="'root'" [routerLink]="['/chapter1p1']">Previous Page</ion-button>
    <ion-button color="dark" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Page 3</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
