<ion-header>
  <ion-toolbar>
    <ion-title>Life is Awesome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <p>Etiam eget porttitor quam. Nullam eget nunc et eros consectetur fringilla eget ac nisl. Sed porta turpis quis neque consectetur, sit amet euismod lacus ullamcorper. Aliquam non odio vitae purus consequat tincidunt. Aliquam at orci a odio auctor suscipit. Duis vitae ullamcorper nisi. Vestibulum egestas nisl sit amet felis facilisis pretium sit amet eu leo. Donec non egestas lorem. Nam ac ligula imperdiet, ornare elit vitae, faucibus velit. Donec interdum neque vitae sem pretium, vitae molestie ligula pulvinar. Suspendisse id lacus arcu. In porttitor nulla quis mi mollis varius. Nulla facilisi.</p>

  <div class="button">
    <ion-button color="success" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Page</ion-button>
    <ion-button color="success" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Page</ion-button>
    <ion-button color="dark" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Page 2</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
