<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="[chapter.url]">
      {{chapter.title}}
    </ion-item>
  </ion-list>
  <div class="button">
    <ion-button color="dark" [routerDirection]="'root'" [routerLink]="['/']">Return to Cover Page</ion-button>
    <ion-button color="success" [routerDirection]="'root'" [routerLink]="['/chapter1']">Next Page</ion-button>
  </div>
</ion-content>
