<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic Reading App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" href='/toc'>
      <img src="https://www.fillmurray.com/700/600" alt="" />
      <ion-card-header>
        <ion-card-subtitle>My Name is Bill:</ion-card-subtitle>
        <ion-card-title>Life Is Awesome</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is the highly-anticipated autobiography from one of the greatest comedic gems of the 20th century. 'My Name is Bill: Life is Awesome' is the Bill's story in his own words.  According to Bill:</p>
        <br>
        <p>"I'm certainly not a writer, even though I've written a book.  Maybe I should stick to golf."
        </p>
        <br>
        <p>Filled with funny stories and surprising observations, you're sure to enjoy spending time in the mind of Bill.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Begin Reading</ion-label>
      </ion-list-header>
      <ion-item href='/toc'>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Table of Contents</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
